// フォントおすすめ設定でゴシック体の一覧をコピペ
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: $black;
 }

 .grid {
    display: flex; // 子要素を横並びにする
    margin: 0;
    padding: 0;
    align-items: center; //垂直方向中央揃え
    justify-content: center; // 水平方向中央揃え
    &__item {
            list-style: none;
        }
 }

//  Bootstrapライクなカラムレイアウト設定
 .grid-col {
    // width: 100%;
    &--col-2 {
        width: 50%;
    }
    &--col-3 {
        width: 33.3%;
    }
    &--col-4 {
        width: 25%;
    }

 }

 // section
 .section {
     padding: 30px 15px;

     &--secondary {
         background: $gray;
     }
     &__headline {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin: 0 0 40px;
     }
     &__button {
        margin-top: 40px;
        text-align: center;
     }
 }

 label, input, textarea, select, button {
    cursor: pointer;
 }

