// section
.section{
    padding: 30px 15px;
    &--secondary {
        background: $gray;
    }
}
.section-headline{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}

// about
.about{
    margin: 0;
    display: flex;
}
.about-image{

}
.about-caption{
    padding-left: 15px;
}
.about-headline{
    margin: 0 0 20px;
    font-size: 30px;
}
.about-discription{

}

.future {
    text-align: center;
    padding: 0 15px;
    &--headline {
        font-weight: bold;
        margin: 0 0 20px;
    }
    &--img {

    }
    &--discription {
        text-align: left;
        margin: 0;
    }
}