
// about
.about{
    margin: 0;
    display: flex;
}
.about-image{

}
.about-caption{
    padding-left: 15px;
}
.about-headline{
    margin: 0 0 20px;
    font-size: 30px;
}


.future {
    text-align: center;
    padding: 0 15px;
    &__headline {
        font-weight: bold;
        margin: 0 0 20px;
    }

    &__discription {
        text-align: left;
        margin: 0;
    }
}

.avator {
    display: flex;
    flex-direction: row-reverse; //順番を逆にする
    justify-content: start; // 水平方向 左揃え
    align-items: center; // 垂直方向 中央揃え
    padding: 10px;
    &__name {
        font-weight: bold;
        padding-left: 15px;
    }
    &__img {
        margin: 0;
        border-radius: 50%;
        overflow: hidden; // 画像に対してborder-radiusを設定したいときは設定する
    }
}

.radio {
    margin: 0 10px;
}

.form {

    &__table {
        margin: 0 auto; // ブロック要素を中央揃えにできる
        th {
            padding: 10px;
            text-align: left;
        }
        td {
            padding: 10px;
        }
    }
}

button {
    border:0;
}

.works {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
    img {
        margin: 0 15px;
    }
}